.main {
    padding: 60px 0;

    &_wrapper {
        margin-bottom: 40px;
    }

    &_text-container {
        font-size: 16px;
        font-weight: 400;
    }
}

@import "about-company.less";
@import "staff.less";
@import "types-of-jobs.less";
@import "ecology.less";