.main {
    width: 100%;
    height: 100%;
    overflow: auto;

    &_scrollable-area {
        width: 100%;
        height: 100%;
    }

    &_wrapper {
        padding-top: 20px;
        margin-bottom: 20px;
    }

    &_text-container {
        font-size: 16px;
        font-weight: 400;
    }
}

@import "about-company.less";
@import "staff.less";
@import "types-of-jobs.less";
@import "ecology.less";
@import "exploitation.less";
@import "civil-engineering.less";
@import "advantages.less";
@import "customers.less";
@import "contacts.less";
@import "footer.less";