a {
    color: black;
    &:link {
        color: black;
        text-decoration: none;
    }
    &:visited {
        text-decoration: none; 
        color: black;
    }
    &:hover {
        color: black;
        text-decoration: none;
        cursor: pointer;     
    }
    &:active {
        color: black;
        text-decoration: none; 
    }
}

.header {
    position: fixed;
    width: 100%;

    &_top {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 96px;           
        background: white;
    }

    &_logo-container {
        display: flex;
        align-items: center;
    }

    &_logo {
        margin: 0 15px;
    }

    &_entire-site {

    }

    &_bottom {
        display: flex;  
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 46px;
        background: rgba(238, 49, 36, 0.8);
        
        & .header_menu-item {
            text-transform: uppercase;
            color: white;

            &:hover {
                color: whitesmoke;
            }
        }
    }


    &_phone-number-container {
        margin: 0 15px;
    }
}

.main {
    padding: 142px 0;
}
