@import "/node_modules/normalize.css/normalize.css";

@import "bootstrap_custom.less";

@import "/node_modules/bootstrap-material-design/dist/css/ripples.min.css";
@import "bootstrap-material-design_custom.less";

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

@import "colors.less";
@import "eco.less";


